<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Movie Reviews Sentiment Analysis</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        
    </head>

    <body>

        
    	<div class="container">
            <h2 class='container-heading'><span><positive>Movie Review</positive></span> class="heading_font">MOVIE REVIEW SENTIMENT ANALYSIS</h2>
            
    	</div>
    	<div class="ml-container">
            <br><br><br><br>
    		<form action="{{ url_for('predict') }}" method="POST">
                <input type="text" name="review" class="input" placeholder="Enter Your Review Here" autocomplete="off" required>
        		<br>
                <br>
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

       
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/phancykemunto"></i></a>
               <a target="_blank" href=""></i></a>
           </div>
           <p class='footer-description'>© PHANICE KEMUNTO 2021</p>
       </div>

    </body>
</html>